

.app-header{
  font-size: 40px;  
  text-align: center;
}

.data{
  text-align: left;
  font-size: calc(10px + 2vmin);
  text-align: left;
  border: 1px;
  border-style: solid;
  margin: 20px;
  padding: 10px;
}


@media screen and (min-width: 1366px){
  div{
      font-size: 30px;
  }
}

@media screen and (min-width: 1024px){
  div{
      font-size: 20px;
  }
}

@media screen and (min-width: 768px){
  div{
      font-size: 10px;
  }
}

@media screen and (min-width: 480px){
  div{
      font-size: 8px;
  }
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
